#!/system/bin/sh

scripts=$(realpath $0)
scripts_dir=$(dirname ${scripts})

source ${scripts_dir}/box.config

mkdir -p ${run_path}
mkdir -p ${box_path}/${bin_name}

# ${box_path}/bin/yq -i ".tproxy-port=${tproxy_port}" ${box_path}/clash/config.yaml
# ${box_path}/bin/yq -i ".dns.listen=\"${clash_dns_listen}\"" ${box_path}/clash/config.yaml
# ${box_path}/bin/yq -i ".dns.fake-ip-range=\"${clash_fake_ip_range}\"" ${box_path}/clash/config.yaml

# ${box_path}/bin/yq -o=json -i "(.inbounds[] | select(.type == \"tproxy\") | .listen_port) = ${tproxy_port}" ${box_path}/sing-box/config.json

find ${box_path} -mtime +3 -type f -name "*.log" | xargs rm -f

log() {
  export TZ=Asia/Shanghai
  now=$(date +"[%Y-%m-%d %H:%M:%S]")
  case $1 in
  Info)
    [ -t 1 ] && echo -e "\033[1;32m${now} [Info]: $2\033[0m" || echo "${now} [Info]: $2"
    ;;
  Warn)
    [ -t 1 ] && echo -e "\033[1;33m${now} [Warn]: $2\033[0m" || echo "${now} [Warn]: $2"
    ;;
  Error)
    [ -t 1 ] && echo -e "\033[1;31m${now} [Error]: $2\033[0m" || echo "${now} [Error]: $2"
    ;;
  *)
    [ -t 1 ] && echo -e "\033[1;30m${now} [$1]: $2\033[0m" || echo "${now} [$1]: $2"
    ;;
  esac
}

find_netstat_path() {
  [ -f /system/bin/netstat ] && alias netstat="/system/bin/netstat" && return 0
  [ -f /system/xbin/netstat ] && alias netstat="/system/xbin/netstat" && return 0
  return 1
}

probe_bin_alive() {
  [ -f ${pid_file} ] && cmd_file="/proc/$(cat ${pid_file})/cmdline" || return 1
  [ -f ${cmd_file} ] && grep -q ${bin_name} ${cmd_file} && return 0 || return 1
}

forward() {
  iptables -w 100 $1 FORWARD -o ${tun_device} -j ACCEPT
  iptables -w 100 $1 FORWARD -i ${tun_device} -j ACCEPT
  ip6tables -w 100 $1 FORWARD -o ${tun_device} -j ACCEPT
  ip6tables -w 100 $1 FORWARD -i ${tun_device} -j ACCEPT
}

create_tun_link() {
  mkdir -p /dev/net
  [ ! -L /dev/net/tun ] && ln -s /dev/tun /dev/net/tun
}

probe_tun_device() {
  ifconfig | grep -q ${tun_device} || return 1
}

start_bin() {
  ulimit -SHn 1000000
  case "${bin_name}" in
  sing-box)
    if ${bin_path} check -D ${box_path}/${bin_name} > ${run_path}/check.log 2>&1 ; then
      log Info "starting ${bin_name} service."
      nohup ${magisk_busybox} setuidgid ${box_user_group} ${bin_path} run -D ${box_path}/${bin_name} > /dev/null 2> ${run_path}/error_${bin_name}.log &
      echo -n $! > ${pid_file}
      return 0
    else
      log Error "configuration check failed, please check the ${run_path}/check.log file."
      return 1
    fi
    ;;
  clash)
    if ${bin_path} -t -d ${box_path}/${bin_name} > ${run_path}/check.log 2>&1 ; then
      log Info "starting ${bin_name} service."
      nohup ${magisk_busybox} setuidgid ${box_user_group} ${bin_path} -d ${box_path}/${bin_name} > ${box_path}/${bin_name}/${bin_name}_$(date +%Y%m%d%H%M).log 2> ${run_path}/error_${bin_name}.log &
      echo -n $! > ${pid_file}
      return 0
    else
      log Error "configuration check failed, please check the ${run_path}/check.log file."
      return 1
    fi
    ;;
  xray)
    if ${bin_path} -test -confdir ${box_path}/${bin_name} > ${run_path}/check.log 2>&1 ; then
      log Info "starting ${bin_name} service."
      nohup ${magisk_busybox} setuidgid ${box_user_group} ${bin_path} -confdir ${box_path}/${bin_name} > /dev/null 2> ${run_path}/error_${bin_name}.log &
      echo -n $! > ${pid_file}
      return 0
    else
      log Error "configuration check failed, please check the ${run_path}/check.log file."
      return 1
    fi
    ;;
  v2ray)
    if ${bin_path} test -d ${box_path}/${bin_name} > ${run_path}/check.log 2>&1 ; then
      log Info "starting ${bin_name} service."
      nohup ${magisk_busybox} setuidgid ${box_user_group} ${bin_path} run -d ${box_path}/${bin_name} > /dev/null 2> ${run_path}/error_${bin_name}.log &
      echo -n $! > ${pid_file}
      return 0
    else
      log Error "configuration check failed, please check the ${run_path}/check.log file."
      return 1
    fi
    ;;
  *)
    log Error "core error."
    return 2
    ;;
  esac
}

display_bin_pid() {
  if probe_bin_alive ; then
    bin_pid=$(cat ${pid_file})
    log Info "${bin_name} has started with the $(stat -c %U:%G /proc/${bin_pid}) user group."
    log Info "${bin_name} service is running. ( PID: ${bin_pid} )"
    return 0
  else
    log Warn "${bin_name} service is stopped."
    return 1
  fi
}

wait_bin_listen() {
  wait_count=0
  bin_pid=$(cat ${pid_file})
  find_netstat_path && \
  check_bin_cmd="netstat -tnulp | grep ${bin_name} >> /dev/null" || \
  check_bin_cmd="ls -lh /proc/${bin_pid}/fd | grep -q socket"
  while probe_bin_alive && ! eval "${check_bin_cmd}" && [ ${wait_count} -lt 100 ] ; do
    sleep 1 ; wait_count=$((${wait_count} + 1))
  done
  if probe_bin_alive && eval "${check_bin_cmd}" ; then
    return 0
  else
    return 1
  fi
}

check_permission() {
  if which ${bin_name} | grep -q "/system/bin/" ; then
    id -u $(echo ${box_user_group} | awk -F ':' '{print $1}') >/dev/null 2>&1 && \
    id -g $(echo ${box_user_group} | awk -F ':' '{print $2}') >/dev/null 2>&1 || \
    (box_user_group="root:net_admin" && log Error "${box_user_group} error, use root:net_admin instead.")
    bin_path=$(which ${bin_name})
    chown ${box_user_group} ${bin_path}
    chmod 0700 ${bin_path}
    # setcap has been deprecated as it does not support binary outside of the /system/bin directory
    setcap 'cap_net_admin,cap_net_raw,cap_net_bind_service+ep' ${bin_path} || \
    (box_user_group="root:net_admin" && log Error "setcap authorization failed, you may need libcap package.")
    chown -R ${box_user_group} ${box_path}
  elif [ -f ${bin_path} ] ; then
    box_user_group="root:net_admin"
    chown ${box_user_group} ${bin_path}
    chmod 0700 ${bin_path}
    chown -R ${box_user_group} ${box_path}
  else
    return 1
  fi
}

start_service() {
  if probe_bin_alive ; then
    log Info "${bin_name} service is running. ( PID: $(cat ${pid_file}) )"
    return 0
  fi

  if check_permission ; then
    log Info "${bin_name} will be started with the ${box_user_group} user group."
    [ "${proxy_method}" != "TPROXY" ] && create_tun_link
    if start_bin && wait_bin_listen ; then
      log Info "${bin_name} service is running. ( PID: $(cat ${pid_file}) )"
      probe_tun_device && forward -I
      return 0
    else
      if probe_bin_alive ; then
        log Warn "${bin_name} service is running but may not listening. ( PID: $(cat ${pid_file}) )"
        probe_tun_device && forward -I
        return 0
      else
        log Error "start ${bin_name} service failed, please check the ${run_path}/error_${bin_name}.log file."
        rm -f ${pid_file} >> /dev/null 2>&1
        return 1
      fi
    fi
  else
    log Error "missing ${bin_name} core, please download and place it in the ${box_path}/bin/ directory"
    return 2
  fi
}

stop_service() {
  if display_bin_pid ; then
    log Warn "stopping ${bin_name} service."
    kill $(cat ${pid_file}) || killall ${bin_name}
    forward -D >> /dev/null 2>&1
    sleep 1
    display_bin_pid
  fi
  rm -f ${pid_file}
}

case "$1" in
  start)
    start_service
    ;;
  stop)
    stop_service
    ;;
  restart)
    stop_service
    sleep 2
    start_service
    ;;
  status)
    display_bin_pid
    ;;
  *)
    log Error "$0 $1 usage: $0 {start|stop|restart|status}"
    ;;
esac
